.gitigonre
parking-lot/parking-lot/bin/Debug/net8.0/parking-lot
parking-lot/parking-lot/bin/Debug/net8.0/parking-lot.deps.json
parking-lot/parking-lot/bin/Debug/net8.0/parking-lot.dll
parking-lot/parking-lot/bin/Debug/net8.0/parking-lot.pdb
parking-lot/parking-lot/bin/Debug/net8.0/parking-lot.runtimeconfig.json
parking-lot/parking-lot/obj/parking-lot.csproj.nuget.dgspec.json
parking-lot/parking-lot/obj/parking-lot.csproj.nuget.g.props
parking-lot/parking-lot/obj/parking-lot.csproj.nuget.g.targets
parking-lot/parking-lot/obj/project.assets.json
parking-lot/parking-lot/obj/project.nuget.cache
parking-lot/parking-lot/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
parking-lot/parking-lot/obj/Debug/net8.0/apphost
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.AssemblyInfo.cs
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.AssemblyInfoInputs.cache
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.assets.cache
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.csproj.CoreCompileInputs.cache
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.csproj.FileListAbsolute.txt
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.dll
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.GeneratedMSBuildEditorConfig.editorconfig
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.genruntimeconfig.cache
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.GlobalUsings.g.cs
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.pdb
parking-lot/parking-lot/obj/Debug/net8.0/parking-lot.sourcelink.json
parking-lot/parking-lot/obj/Debug/net8.0/ref/parking-lot.dll
parking-lot/parking-lot/obj/Debug/net8.0/refint/parking-lot.dll
